<% include header %>


<div id="dashboard" class="container">

   <% include nav %>

    <div class="jumbotron">
  <h1 class="display-4">WooCommerce Node</h1>
  <p class="lead">This is a simple app for managing a remote WooCommerce store.</p>
  <hr class="my-4">
  <p>It uses the standard WooCommerce APIs.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://docs.woocommerce.com/document/woocommerce-rest-api/" role="button">Learn more</a>
  </p>
</div>



</div>


<% include footer %>