html, body {
    height: 100%;
    min-height: 100%;
}

#login-form-wrap {
    height: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-form-wrap form {
    min-width: 400px;
}

#dashboard {
    margin-top: 5%;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}